<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <!--
    body.ng-app
      p.ng-repeat
      p.ng-repeat
      p.ng-repeat

    function ngApp() {
      var prenom = 'Romain ngApp';

      function ngRepeat1() {
        var prenom = 'Romain ngRepeat1';
        // $parent.prenom
      }

      function ngRepeat2() {

      }

      function ngRepeat3() {

      }
    }
  -->
  <body ng-app>
    <div>Prénoms : <input ng-model="prenoms" ng-list /></div>
    <p ng-repeat="prenom in prenoms">
      Bonjour <span ng-bind="prenom"></span> !
      <button ng-if="$last">-</button>
    </p>
    <script src="../node_modules/angular/angular.js"></script>
  </body>
</html>
